.cipher-message-box {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.cipher-message {
    display: flex;
    flex-wrap: wrap;
}

.cipher-word {
    display: flex;
}

.cipher-character {
    height: 4rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: flex;
}

.cipher-character span {
    min-width: 1.5rem;
    text-align: center;
}

.cipher-code {
    width: 2.5rem;
    align-self: flex-end;
    border-top: 1px solid #888;
}

table.cipher-table {
    border-collapse: collapse;
    margin-top: 1.5rem;
}

.cipher-table th,
.cipher-table td {
    width: 3rem;
    padding: 0.3rem 0;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
}
