p button {
    margin-left: 0.5rem;
}

.hidden {
    display: none;
}

.cipher-message-box {
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.cipher-message {
    display: flex;
    flex-wrap: wrap;
}

.cipher-word {
    display: flex;
    flex-wrap: wrap;
}

.cipher-character {
    height: 4rem;
    margin: 0.4rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cipher-character span {
    min-width: 1.8rem;
    text-align: center;
}

.cipher-letter {
    height: 2rem;
    width: 2.5rem;
    border-bottom: 1px solid #888;
}

table.cipher-table {
    border-collapse: collapse;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.cipher-table th {
    cursor: pointer;
}

.cipher-table th:hover {
    background-color: rgb(168, 202, 252);
    border-color: rgb(168, 202, 252);
}

.cipher-table th,
.cipher-table td {
    width: 3rem;
    padding: 0.3rem 0;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
}

.cipher-table th.unused-letter {
    color: #888;
}