@media print {
    h1, h2, p, .options {
        display: none;
    }
}

body {
    font-family: Montserrat, sans-serif;
    color: #444;
}

h1 {
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #525252;
}

.options {
    margin-bottom: 1rem;
}

.image-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 970px;
}

svg {
    margin-top: 0.5rem;
}

.outline {
    stroke: #444;
    fill: white;
}