@media print {
    header {
        display: none;
    }
}

body {
  margin: 0;
  font-family: -apple-system, Montserrat, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #525252;
}

main {
    margin: 0 1.6rem;
}
